@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Color Variables */

$primary-white: #E5E5E5;
$primary-red: #FF5A5F;
$primary-green: #008489;
$primary-purple: #914669;
$secondary-white: #FFFFFF;
$secondary-middle-gray: #767676;
$secondary-dark-gray: #484848;


/* Font Variables */

$main-font:  'Roboto', sans-serif;